@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.45; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 56%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 51%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 46%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 41%; } }

body {
  background-color: #181f2a;
  color: white; }

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px !important;
  font-family: 'Raleway', sans-serif; }

p {
  letter-spacing: .6px;
  font-family: 'Raleway', sans-serif; }

a, .btn {
  font-family: 'Raleway', sans-serif; }

header {
  background-color: #1c2431; }

.navbar {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.intro {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("../images/bg-curvy-desktop.svg") no-repeat;
  background-size: contain;
  background-position: center bottom;
  padding-bottom: 15rem; }
  @media only screen and (max-width: 31.25em) {
    .intro {
      background: url("../images/bg-curvy-mobile.svg") no-repeat;
      background-size: contain;
      background-position: center bottom;
      padding-bottom: 15rem; } }

.box {
  font-family: 'Raleway', sans-serif;
  width: 65%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10rem;
  grid-row-gap: 10rem;
  margin-bottom: 15rem; }

.benefits {
  width: 90%;
  margin: 0 auto 20rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  @media only screen and (max-width: 50rem) {
    .benefits {
      flex-direction: column;
      align-items: center;
      align-content: center;
      margin: 0 auto 17rem auto; } }

.testimonials {
  width: 85%;
  margin: 0rem auto 7rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 3rem;
  position: relative; }
  @media only screen and (max-width: 53.12em) {
    .testimonials {
      width: 80%;
      grid-column-gap: 4.4rem;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-row-gap: 3rem; } }

.email {
  background-color: #1c2431;
  box-shadow: 5px 5px 12px 2px rgba(11, 21, 35, 0.95);
  border-radius: 10px;
  padding: 5rem 0rem;
  width: 94rem;
  margin: 0 auto;
  top: 14rem;
  position: relative;
  z-index: 99; }
  @media only screen and (max-width: 68.75em) {
    .email {
      width: 90%; } }
  @media only screen and (max-width: 37.5em) {
    .email {
      top: 21rem; } }

.footer {
  background-color: #0b1523;
  padding: 25rem 0 5rem 0; }

.footer-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  @media only screen and (max-width: 43.75em) {
    .footer-content {
      flex-direction: column;
      margin-left: 5rem; } }

.navbar__logo {
  width: 15rem;
  height: auto; }

.navbar__items {
  list-style: none;
  display: flex; }

.navbar-item {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75rem;
  font-weight: 400; }
  .navbar-item:not(:last-child) {
    margin-right: 4rem; }
    @media only screen and (max-width: 28.75em) {
      .navbar-item:not(:last-child) {
        margin-right: 2.5rem; } }
  .navbar-item a {
    color: white;
    text-decoration: none; }

.intro__img {
  width: 63rem;
  height: auto; }
  @media only screen and (max-width: 28em) {
    .intro__img {
      width: 54rem; } }
  @media only screen and (max-width: 25em) {
    .intro__img {
      width: 45rem; } }

.intro__info {
  font-family: 'Raleway', sans-serif; }
  .intro__info h1 {
    font-size: 3.4rem;
    margin-top: 4rem;
    width: 55%;
    margin: 3rem auto;
    letter-spacing: 1px; }
    @media only screen and (max-width: 50em) {
      .intro__info h1 {
        width: 70%; } }
    @media only screen and (max-width: 41em) {
      .intro__info h1 {
        width: 80%; } }
    @media only screen and (max-width: 25em) {
      .intro__info h1 {
        width: 90%; } }
  .intro__info p {
    font-size: 1.75rem;
    width: 42.5%;
    margin: 4rem auto;
    letter-spacing: .6px; }
    @media only screen and (max-width: 50rem) {
      .intro__info p {
        width: 50%; } }
    @media only screen and (max-width: 41em) {
      .intro__info p {
        width: 70%; } }
    @media only screen and (max-width: 25em) {
      .intro__info p {
        width: 80%; } }

.intro__btn-cta {
  font-family: 'Raleway', sans-serif;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 1.8rem;
  outline: none;
  padding: 1.6rem 8rem;
  border-radius: 100px;
  background: linear-gradient(to right, #65e2d9, #339ecc); }

.features-feature img {
  width: auto;
  height: 8rem; }

.features-feature h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  margin-top: 2rem; }

.features-feature p {
  font-weight: 400;
  font-size: 1.55rem; }

.features__img-productive {
  width: 55rem;
  margin-right: 4rem; }
  @media only screen and (max-width: 73em) {
    .features__img-productive {
      width: 52%;
      height: auto; } }
  @media only screen and (max-width: 50em) {
    .features__img-productive {
      margin-right: 0;
      margin-bottom: 4rem;
      width: 83%; } }

.features__productive h2 {
  width: 40rem;
  font-size: 3.5rem;
  line-height: 1.4;
  margin-bottom: 2.3rem; }
  @media only screen and (max-width: 50em) {
    .features__productive h2 {
      width: 62rem;
      margin: 0 auto;
      margin-bottom: 2.3rem; } }
  @media only screen and (max-width: 28rem) {
    .features__productive h2 {
      width: 52rem; } }

.features__productive p {
  font-size: 1.55rem;
  width: 50rem;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 60em) {
    .features__productive p {
      width: 47rem; } }
  @media only screen and (max-width: 50em) {
    .features__productive p {
      width: 70rem; } }
  @media only screen and (max-width: 41.8em) {
    .features__productive p {
      width: 63rem; } }
  @media only screen and (max-width: 34.3em) {
    .features__productive p {
      width: 55rem; } }
  @media only screen and (max-width: 28em) {
    .features__productive p {
      width: 50rem; } }

.features__btn {
  color: #65e2d9;
  text-decoration: none;
  border-bottom: 1px solid #65e2d9;
  font-size: 1.5rem;
  padding: .4rem;
  letter-spacing: .5px; }

.features__testimonials-quotes {
  position: absolute;
  top: -3rem;
  left: -1rem; }
  @media only screen and (max-width: 25em) {
    .features__testimonials-quotes {
      width: 5.5rem; } }

.features__testimonials-box {
  background-color: #202a3c;
  border-radius: 5px;
  box-shadow: 5px 5px 4px 4px rgba(28, 36, 49, 0.85);
  padding: 4rem 3rem 2rem 3rem; }
  @media only screen and (max-width: 53.12em) {
    .features__testimonials-box {
      padding: 5rem 3.5rem 3rem 3.5rem; } }
  .features__testimonials-box .impr {
    letter-spacing: .5px;
    font-size: 1.52rem;
    line-height: 1.8; }
  .features__testimonials-box-review {
    margin-top: 2rem;
    display: flex;
    align-content: center;
    align-items: center; }
  .features__testimonials-box .user-photo {
    border-radius: 50%;
    width: 4rem;
    height: auto;
    margin-right: 1rem; }

.features__review-user-name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .5rem; }

.features__review-user-position {
  font-size: 1.1rem; }

.email__text {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 1.5rem; }

.email__paragraph {
  font-size: 1.55rem;
  margin: 0 auto 4rem auto;
  width: 85rem; }
  @media only screen and (max-width: 68.75em) {
    .email__paragraph {
      width: 85%; } }

.email__texts {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; }

.email__signup {
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .email__signup {
      flex-direction: column;
      align-items: center;
      align-content: center; } }

.email__input {
  text-indent: 4rem;
  flex: 0 0 55%;
  margin-right: 3rem;
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 1.5rem 0; }
  @media only screen and (max-width: 45em) {
    .email__input {
      flex: 0 0 50%; } }
  @media only screen and (max-width: 31.25em) {
    .email__input {
      width: 85%;
      margin: 0 0 3rem 0;
      padding: 2rem 0; } }
  .email__input::placeholder {
    font-family: 'Raleway', sans-serif;
    color: #ccc;
    font-weight: 700; }

.email__btn-cta {
  font-family: 'Raleway', sans-serif;
  color: white;
  border: none;
  outline: none;
  font-size: 1.6rem;
  padding: 1.8rem 3.5rem;
  border-radius: 100px;
  font-weight: 700;
  background: linear-gradient(to right, #65e2d9, #339ecc); }
  @media only screen and (max-width: 45em) {
    .email__btn-cta {
      padding: 1.2rem 3rem; } }
  @media only screen and (max-width: 34.3em) {
    .email__btn-cta {
      padding: 1.2rem 2rem;
      font-size: 1.6rem; } }
  @media only screen and (max-width: 31.25em) {
    .email__btn-cta {
      width: 60%;
      padding: 2rem 1rem;
      font-size: 2rem; } }

@media only screen and (max-width: 43.75em) {
  .footer__logo {
    margin-bottom: 4rem; } }

@media only screen and (max-width: 56.25em) {
  .footer__logo img {
    width: 17.5rem; } }

.footer__contact {
  font-size: 13px; }
  @media only screen and (max-width: 43.75em) {
    .footer__contact {
      margin-bottom: 4rem; } }
  .footer__contact p {
    margin-bottom: 2rem; }
  .footer__contact img {
    margin-right: 2rem; }

@media only screen and (max-width: 43.75em) {
  .footer__links {
    margin-bottom: 4rem; } }

.footer__links ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.footer__links li {
  margin-bottom: 1.4rem; }

.footer__links a {
  color: white;
  text-decoration: none;
  font-size: 13px; }

@media only screen and (max-width: 43.75em) {
  .footer__links2 {
    margin-bottom: 4rem; } }

.footer__links2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.footer__links2 li {
  margin-bottom: 1.4rem; }

.footer__links2 a {
  color: white;
  text-decoration: none;
  font-size: 13px; }

.footer__social {
  font-size: 15px; }
  @media only screen and (max-width: 43.75em) {
    .footer__social {
      align-self: center; } }
  .footer__social .fa-facebook-f {
    padding: 1.3rem 1.5rem 1.3rem 1.5rem; }
  .footer__social i {
    border: 1px solid white;
    border-radius: 150%;
    padding: 1.2rem;
    margin-right: 1rem; }
