@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

@mixin raleway-font {
	font-family: 'Raleway', sans-serif;
}

@mixin opensans-font {
	font-family: 'Open Sans', sans-serif;
}

$color-primary-1: hsl(218, 28%, 13%);
$color-primary-2: hsl(217, 28%, 15%);
$color-primary-3: hsl(216, 53%, 9%);
$color-primary-4: hsl(219, 30%, 18%);

$color-accent-1: hsl(176, 68%, 64%);
$color-accent-2: hsl(198, 60%, 50%);

$color-white: hsl(0, 0%, 100%);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1.45;
}

html {
	font-size: 62.5%;
}

body {
	background-color: $color-primary-1;
	color: $color-white;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 1px !important;
	@include raleway-font;
}

p {
	letter-spacing: .6px;
	@include raleway-font;
}

a, .btn {
	@include raleway-font;
}