// ----- NAVBAR -----
.navbar {

	&__logo {
		width: 15rem;
		height: auto;
	}

	&__items {
		list-style: none;
		display: flex;
	}

	&-item { 
		@include raleway-font;
		font-size: 1.4rem;
		font-weight: 400;

		&:not(:last-child) {
			margin-right: 4rem;
		}

		a {
			color: $color-white;
			text-decoration: none;
		}
	}
}

// ----- INTRO-SECTION -----
.intro {

	&__img {
		width: 53%;
		height: auto;
	}

	&__info {
		@include raleway-font;

		h1 {
			font-size: 3.4rem;
			margin-top: 4rem;
			width: 55%;
			margin: 3rem auto;
			letter-spacing: 1px;
		}

		p {
			font-size: 1.6rem;
			width: 42.5%;
			margin: 2rem auto;
			letter-spacing: .6px;
		}
	}

	&__btn-cta {
		@include raleway-font;
		color: $color-white;
		border: none;
		outline: none;
		padding: 1.3rem 7.5rem;
		border-radius: 100px;
		background: linear-gradient(to right, $color-accent-1, $color-accent-2);
	}
}

// ----- FEATURES-SECTION -----
.features {

	&__box {
		@include raleway-font;
		width: 65%;
		margin: 0 auto;
		text-align: center;
		display: grid; 
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
		grid-template-rows: 1fr 1fr; 
		grid-column-gap: 10rem;
		grid-row-gap: 10rem;
		margin-bottom: 15rem;
	}

	&-feature {

		img {
			width: auto;
			height: 8rem;
		}

		h2 {
			font-size: 1.8rem;
			margin-bottom: 1rem;
			margin-top: 2rem;
		}

		p {
			font-weight: 400;
			font-size: 1.4rem;
		}
	}

	&__benefits {
		width: 90%;
		margin: 0 auto 30rem auto;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	&__img-productive {
		width: 50%;
		flex: 0 0 40%;
	}

	&__productive {
		flex: 0 0 40%;

		h2 {
			width: 40rem;
			font-size: 3rem;
			line-height: 1.4;
			margin-bottom: 2.3rem;
		}

		p {
			font-size: 1.4rem;
			width: 50rem;
			margin-bottom: 2rem;
		}
	}

	&__btn {
		color: $color-accent-1;
		text-decoration: none;
		border-bottom: 1px solid $color-accent-1;
		font-size: 1.4rem;
		padding: .4rem;
		letter-spacing: .5px;
	}
}