// ----- NAVBAR -----
.navbar {

	&__logo {
		width: 15rem;
		height: auto;
	}

	&__items {
		list-style: none;
		display: flex;
	}

	&-item { 
		@include raleway-font;
		font-size: 1.75rem;
		font-weight: 400;

		&:not(:last-child) {
			margin-right: 4rem;

			@media only screen and (max-width: 28.75em) {
				margin-right: 2.5rem;
 			}
		}



		a {
			color: $color-white;
			text-decoration: none;
		}
	}
}

// ----- INTRO-SECTION -----
.intro {

	&__img {
		width: 63rem;
		height: auto;

		@media only screen and (max-width: 26.25em) {
			width: 55rem;
 		}

 		@media only screen and (max-width: 25em) {
			width: 45rem;
 		}
	}

	&__info {
		@include raleway-font;

		h1 {
			font-size: 3.4rem;
			margin-top: 4rem;
			width: 55%;
			margin: 3rem auto;
			letter-spacing: 1px;

			@media only screen and (max-width: 50em) {
				width: 70%;
 			}

 			@media only screen and (max-width: 41em) {
				width: 80%;
  			}

  			@media only screen and (max-width: 25em) {
				width: 90%;
 			}	
		}

		p {
			font-size: 1.75rem;
			width: 42.5%;
			margin: 4rem auto;
			letter-spacing: .6px;

			@media only screen and (max-width: 50rem) {
				width: 50%;
 			}

 			@media only screen and (max-width: 41em) {
				width: 70%;
  			}

  			@media only screen and (max-width: 25em) {
				width: 80%;
 			}	
		}
	}

	&__btn-cta {
		@include raleway-font;
		color: $color-white;
		border: none;
		font-weight: 700;
		font-size: 1.8rem;
		outline: none;
		padding: 2rem 8rem;
		border-radius: 100px;
		background: linear-gradient(to right, $color-accent-1, $color-accent-2);
	}
}

// ----- FEATURES-SECTION -----
.features {

	&-feature {

		img {
			width: auto;
			height: 8rem;
		}

		h2 {
			font-size: 2.2rem;
			margin-bottom: 1rem;
			margin-top: 2rem;
		}

		p {
			font-weight: 400;
			font-size: 1.55rem;
		}
	}

	&__img-productive {
		width: 55rem;
		margin-right: 4rem;

		@media only screen and (max-width: 73em) {
			width: 51rem;
  		}

  		@media only screen and (max-width: $bp-large) {
			width: 49rem;
  		}

		@media only screen and (max-width: 60em) {
			width: 49rem;
  		}

		@media only screen and (max-width: 59em) {
			width: 47rem;
  		}

		@media only screen and (max-width: $bp-medium) {
			width: 45rem;
  		}

  		@media only screen and (max-width: 53.12em) {
			width: 42rem;
  		}

  		@media only screen and (max-width: 50em) {
			width: 60rem;
			margin-right: 0;
			margin-bottom: 7rem;
  		}

  		@media only screen and (max-width: 26.25em) {
			width: 53rem;
 		}

 		@media only screen and (max-width: 25em) {
			width: 45rem;
 		}	
	}

	&__productive {

		h2 {
			width: 40rem;
			font-size: 3.5rem;
			line-height: 1.4;
			margin-bottom: 2.3rem;

			@media only screen and (max-width: 53.12em) {
				width: 100%;
  			}

  			@media only screen and (max-width: 50em) {
				width: 62rem;
				margin: 0 auto;
				margin-bottom: 2.3rem;
  			}

  			@media only screen and (max-width: 26.25rem) {
				width: 52rem;
 			}

 			@media only screen and (max-width: 25em) {
				width: 52rem;
 			}
		}

		p {
			font-size: 1.55rem;
			width: 50rem;
			margin-bottom: 2rem;

			@media only screen and (max-width: 60em) {
				width: 48rem;
  			}

			@media only screen and (max-width: 53.12em) {
				width: 49rem;
  			}

			@media only screen and (max-width: 50em) {
				width: 70rem;
  			}

  			@media only screen and (max-width: 41.8em) {
				width: 63rem;
  			}

  			@media only screen and (max-width: 34.3em) {
				width: 55rem;
  			}

  			@media only screen and (max-width: 26.25em) {
				width: 50rem;
 			}
		}
	}

	&__btn {
		color: $color-accent-1;
		text-decoration: none;
		border-bottom: 1px solid $color-accent-1;
		font-size: 1.5rem;
		padding: .4rem;
		letter-spacing: .5px;
	}

	&__testimonials {

		&-quotes {
			position: absolute;
			top: -3rem;
			left: -1rem;

			@media only screen and (max-width: 25em) {
				width: 5.5rem;
 			}	
		}

		&-box {
			background-color: $color-primary-4;
			border-radius: 5px;
			box-shadow: 5px 5px 4px 4px rgba(28,36,49,0.85);
			padding: 4rem 3rem 2rem 3rem;

			@media only screen and (max-width: 53.12em) {
				padding: 5rem 3.5rem 3rem 3.5rem;
  			}

			.impr {
				letter-spacing: .5px;
				font-size: 1.52rem;
				line-height: 1.8;
			}

			&-review {
				margin-top: 2rem;
				display: flex;
				align-content: center;
				align-items: center;
			}

			.user-photo {
				border-radius: 50%;
				width: 4rem;
				height: auto;
				margin-right: 1rem;
			}
		}	
	}

	&__review-user {
		

		&-name {
			font-size: 1.5rem;
			font-weight: 700;
			margin-bottom: .5rem;
		}

		&-position {
			font-size: 1.1rem;
		}
	}
}
// ----- MAIL-SECTION -----
.email {

	&__text {
		font-size: 3.2rem;
		text-align: center;
		margin-bottom: 1.5rem;
	}

	&__paragraph {
		font-size: 1.55rem;
		margin: 0 auto 4rem auto;
		width: 85rem;

		@media only screen and (max-width: $bp-large) {
			width: 65rem;
  		}

  		@media only screen and (max-width: 45em) {
			width: 59rem;
  		}

  		@media only screen and (max-width: 41em) {
			width: 55rem;
  		}

  		@media only screen and (max-width: 28.1em) {
			width: 50rem;
  		}

  		@media only screen and (max-width: 25em) {
			width: 43rem;
 		}	
	}

	&__texts {
		width: 90%;
		text-align: center;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
	}

	&__signup {
		display: flex;
		justify-content: center;

		@media only screen and (max-width: $bp-smallest) {
  			flex-direction: column;
  			align-items: center;
  			align-content: center;
  		}
	}

	&__input {
		text-indent: 4rem;
		flex: 0 0 55%;
		margin-right: 3rem;
		border-radius: 100px;
		border: none;
		outline: none;
		padding: 1.5rem 0;

		@media only screen and (max-width: 45em) {
			flex: 0 0 50%;
  		}

  		@media only screen and (max-width: $bp-smallest) {
  			width: 85%;
  			margin: 0 0 3rem 0;
  			padding: 2rem 0;
  		}

		&::placeholder {
			@include raleway-font;
			color: #ccc;
			font-weight: 700;
		}
	}

	&__btn-cta {
		@include raleway-font;
		color: $color-white;
		border: none;
		outline: none;
		font-size: 1.6rem;
		padding: 2rem 3.5rem;
		border-radius: 100px;
		font-weight: 700;
		background: linear-gradient(to right, $color-accent-1, $color-accent-2);

		@media only screen and (max-width: 45em) {
			padding: 1.2rem 3rem;
  		}

  		@media only screen and (max-width: 34.3em) {
			padding: 1.2rem 2rem;
			font-size: 1.6rem;
  		}

  		@media only screen and (max-width: $bp-smallest) {
  			width: 60%;
  			padding: 2rem 1rem;
  			font-size: 2rem;
  		}
	}
}

// ----- FOOTER-SECTION -----
.footer {

	&__location {
		font-size: 1.35rem;
		position: relative;
	}

	&__logo {
		width: 15rem;
		@media only screen and (min-width: 50em) {
		  	grid-area: Logo;
			justify-self: start;
  		}
	}

	&__location-img {
		position: absolute;
		top: 0;
		left: -3rem;
	}

	&__contact {
		font-size: 1.3rem;
		
		p {
			margin-bottom: 2rem;
		}

		img {
			margin-right: 2rem;
		}
	}

	&__links {

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		li {
			margin-bottom: 1.4rem;
		}

		a {
			color: $color-white;
			text-decoration: none;
			font-size: 1.5rem;
		}
	}

	&__links2 {

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		li {
			margin-bottom: 1.4rem;
		}

		a {
			color: $color-white;
			text-decoration: none;
			font-size: 1.5rem;
		}
	}

	&__social {
		font-size: 1.5rem;
		
		.fa-facebook-f {
			padding: .8rem 1rem .8rem 1rem;
		}

		i {
			border: 1px solid $color-white;
			border-radius: 150%;
			padding: .8rem;
			margin-right: 1rem;

			@media only screen and (max-width: $bp-largest) {
				margin-right: .3rem;
  			}
		}
	}
}